@import "_variables.scss";
@import "reset";
@import "fonts";
@import "mixins";
//@import "../../node_modules/flexboxgrid/css/flexboxgrid.css";

* {
  box-sizing: border-box;
}

html, body, #root {
    height: 100%;
  font-family: Calibre,sans-serif;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: var(--color-text);
  background-color: var(--color-bg);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

a {
  color: var(--color-accent);
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px white inset;
}

pre {
    white-space: pre-wrap;
}


@include scrollbars(0rem, slategray);
