
html, body {
    font-family: 'Open sans'!important;
}

h1 {
    display: block;
    font-size: 2em;
    -webkit-margin-before: 0.67em;
    -webkit-margin-after: 0.67em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}

.page {

    &__layout {
        height: 100%;
        width: 100%;
    }

    &__content {
        height: 100%;
        width: 100%;
    }
}
