/* ==========================================================================
   Components - Screen
   ========================================================================== */
.screen {
    position: relative;
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;

    &__loader {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, .75);
        z-index: 10;
    }

    &__header {
        position: relative;
        flex: 0 0 auto;
        z-index: 2;
    }

    &__content {
        position: relative;
        flex: 1 1 auto;
        height: calc(100% - 64px);
        overflow: hidden;
        z-index: 1;
    }
}

.empty {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    color: rgba(0, 0, 0, 0.5);
}
